# AWS default settings
AWS_REGION=ap-northeast-2
CLUSTER_NAME=cluster

# ECS Service names
WS_SERVICE=ws-service
DS_SERVICE=ds-service
PS_SERVICE=ps-service
NS_SERVICE=ns-service
CS_SERVICE=cs-service
FETCH_SERVICE=fetch-service
FS_SERVICE=fs-service

# Target Group ARNs
WS_TG_ARN=arn:aws:elasticloadbalancing:ap-northeast-2:xxxxxxxxxxxx:targetgroup/xxxxxxxx/xxxxxxxx
DS_TG_ARN=arn:aws:elasticloadbalancing:ap-northeast-2:xxxxxxxxxxxx:targetgroup/xxxxxxxx/xxxxxxxx
PS_TG_ARN=arn:aws:elasticloadbalancing:ap-northeast-2:xxxxxxxxxxxx:targetgroup/xxxxxxxx/xxxxxxxx
NS_TG_ARN=arn:aws:elasticloadbalancing:ap-northeast-2:xxxxxxxxxxxx:targetgroup/xxxxxxxx/xxxxxxxx
CS_TG_ARN=arn:aws:elasticloadbalancing:ap-northeast-2:xxxxxxxxxxxx:targetgroup/xxxxxxxx/xxxxxxxx
FETCH_TG_ARN=arn:aws:elasticloadbalancing:ap-northeast-2:xxxxxxxxxxxx:targetgroup/xxxxxxxx/xxxxxxxx
FS_TG_ARN=arn:aws:elasticloadbalancing:ap-northeast-2:xxxxxxxxxxxx:targetgroup/xxxxxxxx/xxxxxxxx